.ewg-popup-container {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: rgb(212, 212, 212);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  color: #111;
  z-index: 2000;
}
.ewg-popup-container .ewg-popup-dragger {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 10px;
}
.ewg-popup-container .ewg-popup-dragger:hover {
  cursor: move;
  /* fallback if grab cursor is unsupported */
  cursor: grab;
  background-color: rgb(134, 134, 134);
}
.ewg-popup-container .ewg-popup-dragger:active {
  cursor: grabbing;
  background-color: rgb(134, 134, 134);
}
.ewg-popup-container .ewg-popup-content {
  position: absolute;
  top: 10px;
  height: 100%;
  width: 100%;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.ewg-popup-container .product-tile {
  position: relative;
  width: 200px;
  padding: 8px;
  margin: 10px;
  background-color: #fff;
  align-self: stretch;
}
.ewg-popup-container .product-tile img {
  margin: 5px;
}
.ewg-popup-container .no-results {
  width: 100%;
  padding: 8px;
  text-align: center;
}
.ewg-popup-container a {
  text-decoration: none;
  color: #111;
}
.ewg-popup-container .text-wrapper {
  font-weight: bolder;
  margin-bottom: 5px;
}
.ewg-popup-container .text-wrapper .product-company {
  font-style: italic;
}
.ewg-popup-container .product-image {
  max-width: 160px;
  min-height: 160px;
  max-height: 240px;
}
.ewg-popup-container .product-score {
  display: flex;
  justify-content: space-between;
}
.ewg-popup-container .product-score .product-score-img {
  width: 50px;
  margin-right: 10px;
}
.ewg-popup-container .favorite-product {
  opacity: 1;
  pointer-events: all;
}
.ewg-popup-container .unfavorite-product {
  position: absolute;
  top: 5px;
  right: 5px;
  opacity: 0;
  pointer-events: none;
}
.ewg-popup-container .favorite-unfavorite-container {
  position: absolute;
  top: 5px;
  right: 5px;
  width: fit-content;
  height: fit-content;
}
.ewg-popup-container .favorite-unfavorite-container:hover {
  cursor: pointer;
}
.ewg-popup-container .favorite-unfavorite-container:hover.favorited .favorite-product {
  opacity: 0;
  pointer-events: none;
}
.ewg-popup-container .favorite-unfavorite-container:hover.favorited .unfavorite-product {
  opacity: 1;
  pointer-events: all;
}
.ewg-popup-container .ewg-popup-close-button {
  position: absolute;
  top: -30px;
  right: 20px;
  width: 30px;
  height: 30px;
  background-color: rgb(212, 212, 212);
  border-radius: 5px 5px 0 0;
  padding: 5px;
}
.ewg-popup-container .ewg-popup-close-button:hover {
  cursor: pointer;
}
